@use "../utils" as *;

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: var(--tp-grey-1);
}
.theme-bg {
  background: #0f243d;
}
.theme-light-bg {
  background-color: #3270b9;
}
.white-bg {
  background: var(--tp-common-white);
}

.black-bg {
  background: var(--tp-common-black);
}
